
<ul>
    <% for (var i = 0; i < firstdata.length; i++) { %>
        <li>Name - <%= firstdata[i].name %></li>
        <li>Mail ID - <%= firstdata[i].mail %></li>
        <li>Semester - <%= firstdata[i].semester %></li>
        </ul>
<br>
    <% } %>
